*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    font-family: monospace;
    color: #EBEFF2;
}

/* Geral */

.container {
    display: flex;
    height: 100vh;
}

/* Direita */

.lado_direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;
}

#logo {
    width: 13rem;
    padding: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
}

#email, #senha, #numero {
    background-color: #121212;
    border-radius: 0.3rem;
    border: #444 1px solid;

    color: white;
    padding: 0.8rem;

    width: 100%;
    height: 2.5rem; 
}

.formulario button {
    background-color: #121212;
    border-radius: 0.3rem;
    border: #444 1px solid;

    color: white;
    font-size: 1rem;
    padding: 0.7rem;

    width: 100%;
}

.formulario button:hover {
    background-color: white;
    color: black;
}

.formulario label {
    font-size: 1rem;
}

.formulario p {
    font-size: 0.9rem;
    text-align: center;
}

.formulario a {
    color: white;
}

/* Esquerda */

.lado_esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;
}

.lado_esquerdo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-right: yellow 1px solid;
}